@page "/"

@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTextBox Placeholder="Write text and press enter..." Change=@(args => RefreshCustomerList(args)) />
    <GameTable games="@games"/>
}
